*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{
    background-color: blue;
    display: flex;
    justify-content: center;
}

p{
    margin-top: 200px;
    font-size: 140px;
    font-weight: bold;
}